
Resume_Scoring/.ipynb_checkpoints/Finding_Related_Wikipedia_Articles copy-checkpoint.ipynb
Resume_Scoring/.ipynb_checkpoints/Model-checkpoint.ipynb
Resume_Scoring/wiki_people.csv
Resume_Scoring/.ipynb_checkpoints/Model-checkpoint.ipynb
